{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": [
    "./node_modules/pleaserc/.eslintrc"
  ],
  "rules": {},
  "env": {
    "browser": true,
    "node": true
  }
}
